body{
	background: #fff;
}
.logo img {
    margin-bottom: 7px;
    border: 1px solid #8a8787;
    padding: 3px;
    max-width: 100%;
}

.project-img {
    width: 60%;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #d6d6d6;
    background: lightseagreen;
}

.project-img img {
    width: 100%;
}
a.btn-delete {
    display: inline-block;
    background: red;
    color: #fff;
    padding: 8px 20px;
    text-align: center;
    width: 88px;
    margin: 0 auto;   
}
a.btn-edit{
	display: inline-block;
	background: green;
	color: #fff;
	padding: 8px 20px;
	text-align: center;
	width: 88px;
	margin: 0 auto;	
    background: #1779ba;
}
.upnew{
	width: 50%;
	float: left;
	overflow: hidden;
}
.preview{
	width: 50%;
	float: right;
	overflow: hidden;
}
.preview img{
	width: 300px;
	height: 180px;
}
.maincontent {
    max-width: 80%;
    margin: 0 auto;
}